body{
    background-color: #FDFDFD;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar,.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
}

.navbar{
    background-color: #ECECEC;
    height: 150px;
    padding: 40px 185px;
}

.navbar-left{
    padding-right:260px
}

.navbar-right{
    width:100%;
}

button{
    height: 40px;
    width: 100px;
    background-color: #e52a11;
    margin: 0;
    padding: 0;
    border-width: 0px;
    border-radius: 5%;;
    color: white;
}

.subscribe{
    padding-left: 25px;
}

:hover button{
    cursor: pointer;
}

.navbar-right ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top:  12px;
    font-size: 15px;
}

.navbar-right li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-right a:link,a:visited{
    color:black;
    text-decoration: none;
}

.navbar-right a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: #E54D11;
}

.latest-blog{
    width:70%;
    margin-left: 15%;
    margin-top: -50px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(27, 27, 27, 0.2);
}

.latest-blog-header{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-content{
    padding-left:10px;
}

.latest-blog-heading{
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    padding-left: 35px;   
}

.latest-blog-button{
    width:50%;
    position: relative;
    left: 280px
}

.latest-blog-body{
    align-items: center;
    justify-content: center;
}

.blog{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}

.blog-left{
    display: flex;
    flex-direction: row;
}

.blog img{
    width:200px;
}

.blog-heading{
    font-weight: bold;
    font-size: 18px;
    height: 25%;
    display: flex;
    align-items: center;
}

.blog-data{
    height: 50%;
    font-size: 12px;
    color: grey;
    line-height: 1.5em;
    border-right: 1px solid rgb(216, 203, 203);
    padding-top: 15px;
}

.blog-button{
    height: 60%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}

.blog-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    padding-top: 14px;
}

.blog-right ul{
    list-style: none;
    font-size: x-small;
    padding:0px;
    height: 55%;
    width: 100%;
    margin-left: 20%;
    line-height: 25px;
    color: rgb(194, 175, 175);
    font-weight: bolder;
}

.show-more-blogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-more-blogs{
    padding: 30px;
}

.show-more-blogs button{
    width: 80%;
    background-color: #FFFFFF;
    color: #E54D11;
    border: 1px solid #E54D11;
    border-radius: 5%;
    font-weight: 550;
}

.button-border{
    width: 25%;
    border-left: 1px solid rgb(221, 210, 210);
    border-right: 1px solid rgb(221, 210, 210);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-posts{
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-posts-heading{
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
}

.card{
    width: 30%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 2px 8px 0 rgba(27, 27, 27, 0.2);
} 

.blog-cards{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.card-header{
    margin-top: 25px;
    padding-left: 20px;
    border-left: 3px solid #e52a11;
    line-height: 23px;
}

.post-by{
    font-size: 14px;
    color: #e52a11;
    font-weight: 600;
}

.post-at{
    font-size: 12px;
    color: grey;
    margin-left: 5px;  
}

.post-company{
    font-size: 12px;
    color: grey;
}

.card-heading{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.card-content{
    margin-left: 20px;
    height: 45%;
    font-size: 12px;
    color: grey;
    line-height: 1.5em;
}

.card-footer{
    margin-left: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.card-footer button{
    background-color: #FFFFFF;
    color: #E54D11;
    border: 1px solid #E54D11;
    border-radius: 5%;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-left-content{
    font-size: 12px;
    color: grey;
    line-height: 1.5em;   
}