body{
    background-color: #FDFDFD;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar,.navbar_left, .navbar_right {
    display: flex;
    flex-direction: row;
}

.navbar{
    background-color: #ECECEC;
    height: 100px;
    padding: 40px 150px;
}

.navbar_left{
    padding-right:300px
}

.navbar_right{
    width:100%;
}

button{
    height: 40px;
    width: 100px;
    background-color: #E54D11;
    margin: 0;
    padding: 0;
    border-width: 0.25px;
    border-color: white;
    border-radius: 2.5%;
    color: white;
}

.subscribe{
    padding-left: 25px;
}

:hover button{
    cursor: pointer;
}

.navbar_right ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top:  12px;
    font-size: 15px;
}

.navbar_right li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar_right a:link,a:visited{
    color:black;
    text-decoration: none;
}

.navbar_right a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: #E54D11;
}

.latest_blog{
    width:70%;
    margin-left: 15%;
    margin-top: -50px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(27, 27, 27, 0.2);
}

.latest_blog_header{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog_content{
    padding-left:10px;
}

.latest_blog_heading{
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    padding-left: 35px;   
}

.latest_blog_button{
    width:50%;
    position: relative;
    left: 280px
}

.latest_blog_body{
    align-items: center;
    justify-content: center;
}

.blog{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}

.blog_left{
    display: flex;
    flex-direction: row;
}
.blog img{
    width:200px;
}

.blog_heading{
    font-weight: bold;
    font-size: 18px;
    height: 25%;
    display: flex;
    align-items: center;
}

.blog_data{
    height: 60%;
    font-size: 12px;
    color: grey;
    line-height: 1.5em;
    border-right: 1px solid rgb(216, 203, 203);
}

.blog_button{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:flex-end;
    padding-right: 20px;
}

.blog_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
}

.blog_right ul{
    list-style: none;
    font-size: x-small;
    padding:0px;
    height: 55%;
    width: 100%;
    margin-left: 20%;
    line-height: 25px;
    color: rgb(194, 175, 175);
    font-weight: bolder;
}
